/* ======== ESTILO GERAL ======== */
body {
  margin: 0;
  padding: 0;
  background-color: #0a1826;
  font-family: "Inter", sans-serif;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
  color: #ffffff;
}

p {
  color: #000000;
}

/* ======== MENU PRINCIPAL ======== */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 15px;
}

.menu button {
  width: 280px;
  padding: 15px;
  background-color: #0d6efd;
  border: none;
  border-radius: 14px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease;
}

.menu button:hover {
  background-color: #0b5ed7;
  box-shadow: 0 0 12px rgba(13, 110, 253, 0.7);
  transform: scale(1.05);
}

/* ======== ÁREA DAS LISTAS E FORMULÁRIOS ======== */
.lista-veiculos {
  width: 60%;
  margin: 30px auto;
  background: #112333;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.3);
}

/* Cada item da lista */
.lista-item {
  background: #000000;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

/* Botão dentro da lista */
.lista-item button {
  background-color: #0d6efd;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.lista-item button:hover {
  transform: scale(1.05);
  background-color: #0a58ca;
}

/* ======== BOTÃO VOLTAR ======== */
.voltar {
  display: block;
  margin: 20px auto;
  padding: 12px 20px;
  background-color: #1f6feb;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.voltar:hover {
  background-color: #1653b8;
  transform: scale(1.05);
  box-shadow: 0 0 10px #1f6feb;
}

/* ======== FORMULÁRIOS ======== */
input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

form button {
  margin-top: 15px;
  background-color: #198754;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

form button:hover {
  background-color: #157347;
  transform: scale(1.03);
}

/* Botão cancelar */
.cancelar {
  background-color: #dc3545 !important;
  margin-top: 10px;
}

.cancelar:hover {
  background-color: #bb2d3b !important;
}
